fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
httpx
langgraph
langchain
langchain-openai
langchain-community
tavily-python
pycryptodome
google-auth
google-auth-oauthlib
google-api-python-client
langchain-groq
langchain-google-genai
psycopg2-binary
langchain-tavily
